<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/cart.css">

    <title>Carrito</title>
</head>
<body >

    <!--=============== NAVIGATION BAR ===============-->
    <div id="navigation__bar-container">
        <nav class="navbar">
            <div class="navbar__container">
                <a class="navbar__logo" href="/"><img src="../assets/natura-log.png" alt=""></a>
                <button class="navbar__collapse" id="menuToggle">☰</button>
                <ul class="navbar__list" id="navbarMenu">
                    <button id="menuClosed" class="navbar__close-btn">✕</button>
                    <li class="navbar__item"><a class="navbar__link" href="../index.html#about-me">Sobre mí</a></li>
                    <li class="navbar__item"><a class="navbar__link" href="../index.html#my-products">Productos</a></li>
                    <li class="navbar__item"><a class="navbar__link" href="../index.html#about-natura">Natura</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="cart__container">
        <div class="cart__content">
    
            <!-- Carrito -->
            <section class="cart__section">
                <div class="cart__title">
                    <h4><b>Carrito de compras</b></h4>
                    <span class="cart__product-count" id="productCount"></span>
                </div>
    
                <div id="cartItemsContainer" class="cart__items"></div>
    
                <div class="cart__back-to-shop">
                    <a href="../index.html">⬅ Regresar</a>
                </div>
            </section>
    
            <!-- Resumen -->
            <aside class="cart__summary">
                <h5><b>Resumen</b></h5>
                <hr />
                <div id="summaryItems" class="cart__summary-items"></div>
                <div class="cart__total-row">
                    <span class="cart__total-label">TOTAL</span>
                    <span class="cart__total-price" id="totalPrice"></span>
                </div>
                <button class="cart__pay-btn" onclick="pagar()">PAGAR</button>
            </aside>
    
        </div>
    </div>

    <script src="../js/all-products.js"></script>
    
</body>
</html>